<template>
  <NuxtLayout name="main">
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">

</script>

<style lang="scss">
@import url('assets/fonts/halvar/stylesheet.css');

* {
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
  background: black;
}
</style>