<template>
  <footer class="w-full bg-white/10 text-white/80">
    <div class="pt-10 px-10 grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 items-center gap-10">

      <div class="max-md:w-full max-md:text-center">
        <p>2 Ulica Jovana Tomasevica, Bar</p>
        <p> Bar 85000, Montenegro</p>
      </div>

      <nav class="flex justify-center items-center max-md:hidden">
        <ul class="text-[1.2rem] flex flex-row text-white/80 gap-5">
          <li class="hover:text-primary transition-all duration-500 whitespace-nowrap"><router-link to="#main-banner">{{ menuStore.categories.home[menuStore.language.code] }}</router-link></li>
          <li class="hover:text-primary col-start-1 transition-all duration-500 whitespace-nowrap"><router-link to="#menu-section">{{ menuStore.categories.menu[menuStore.language.code] }}</router-link></li>
          <li class="hover:text-primary transition-all duration-500 whitespace-nowrap"><router-link to="#footer">{{ menuStore.categories.contacts[menuStore.language.code] }}</router-link></li>
        </ul>
      </nav>

      <div>
        <div class="flex flex-row gap-5 mb-5 justify-end max-md:justify-center">
          <a href="mailto:dotcom.cowork@gmail.com">
            <EmailIcon class="w-10" />
          </a>
          <a href="https://t.me/DotComCoworking">
            <TelegramIcon class="w-10" />
          </a>
          <a href="https://www.instagram.com/dotcom.bar/" target="_blank">
            <InstagramIcon class="w-10" />
          </a>
          <a href="https://www.facebook.com/profile.php?id=100094714364021" target="_blank">
            <FacebookIcon class="w-10" />
          </a>
        </div>
        <div class="flex flex-row gap-5 items-center justify-end">

          <p class="font-bold text-[1rem]"><span class="text-primary">{{ menuStore.booking[menuStore.language.code] }}:</span> <a
              href="tel:+38268409821"><span>+382 68 409 821</span></a></p>
        </div>
      </div>
    </div>


    <div class="pb-10 px-10 pt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2960.0177343764753!2d19.08624009117405!3d42.10709099700425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134e77dd3f0e08d3%3A0x828b57ae3733624f!2sCoworking%20Dot%20Com!5e0!3m2!1sru!2s!4v1698707481671!5m2!1sru!2s" width="100%" height="200px" style="border:0; border-radius: 5px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="p-10 bg-black/50 flex flex-row justify-between items-center flex-wrap">
      <div>© 2024 dotcom.bar | All Rights Reserved</div>
      <a href="mailto:125368ap@gmail.com">Developed by <span class="text-primary">Nick Stojanovič</span></a>
    </div>

  </footer>
</template>

<script setup lang="ts">
import {useMenuStore} from "~/store/menu";

const menuStore = useMenuStore()
</script>