<template>
  <header
      class="w-full fixed top-0 left-0 px-10 py-5 flex flex-row items-center justify-between z-10 transition-all duration-500"
      :class="headerIsWhite() ? 'max-md:bg-primary bg-black/90' : 'bg-primary/80'"
  >
    <Logo class="w-14" :primary-color="headerIsWhite() ? 'white' : 'black'" />
    <nuxt-img class="hidden max-md:block w-8 cursor-pointer" src="/img/burger_menu_icon.svg" @click="$emit('openSidebar')" />

    <nav class="max-md:hidden">
      <ul class="inline-flex text-[1.2rem] text-white/80 font-medium gap-5">
        <li class="transition-all duration-500" :class="headerIsWhite() ? 'hover:text-primary' : 'hover:text-white'">
          <router-link to="#main-banner">{{ menuStore.categories.home[menuStore.language.code] }}</router-link>
        </li>
        <li class="transition-all duration-500" :class="headerIsWhite() ? 'hover:text-primary' : 'hover:text-white'">
          <router-link to="#menu-section">{{ menuStore.categories.menu[menuStore.language.code] }}</router-link>
        </li>
        <li class="transition-all duration-500" :class="headerIsWhite() ? 'hover:text-primary' : 'hover:text-white'">
          <router-link to="#footer">{{ menuStore.categories.contacts[menuStore.language.code] }}</router-link>
        </li>
      </ul>
    </nav>
    <LanguageSelector :dark="headerIsWhite()" />
  </header>
</template>

<script setup>
import { useWindowScroll } from '@vueuse/core'
import {useMenuStore} from "~/store/menu.js";

const menuStore = useMenuStore()

const { y } = useWindowScroll()

const headerIsWhite = (() => {
  return Number(y.value) >= 255
})
</script>