<template>
  <div class="fixed w-screen h-screen top-0 bottom-0 left-0 right-0 bg-primary z-10 p-5 transition-all duration-500" :style="`transform: translateX(${xPosition})`">
    <div class="w-full text-right">
      <font-awesome-icon size="3x" icon="fa-solid fa-xmark" class="cursor-pointer" @click="$emit('close')" />
    </div>
    <div class="p-5 w-full h-full overflow-y-auto">
      <h2 class="text-[2rem] cursor-pointer" @click="$emit('close')"><router-link to="#main-banner">{{ menuStore.categories.home[menuStore.language.code] }}</router-link></h2>
      <h2 class="mb-5 text-[2rem] cursor-pointer" @click="$emit('close')"><router-link to="#menu-section">{{ menuStore.categories.menu[menuStore.language.code] }}</router-link></h2>
      <h2 class="mb-5 cursor-pointer" v-for="article in menuStore.menu" @click="$emit('close')"><router-link :to="`#${article.title[menuStore.language.code]}`">{{ article.title[menuStore.language.code] }}</router-link></h2>
      <h2 class="text-[2rem] cursor-pointer" @click="$emit('close')"><router-link to="#footer">{{ menuStore.categories.contacts[menuStore.language.code] }}</router-link></h2>
    </div>
  </div>
</template>

<script setup lang="ts">
import {useMenuStore} from "~/store/menu";

const props = defineProps({
  shown: {
    type: Boolean,
    default: false
  }
})

const menuStore = useMenuStore()

const xPosition = computed(() => {
  return props.shown ? '0vw' : '-100vw'
})
</script>