<template>
  <figure class="">
    <div class="relative">
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/60" />
      <NuxtImg src="/img/main_banner.webp" class="w-screen h-screen object-cover" />
    </div>
    <figcaption class="absolute top-0 left-0 w-screen h-screen flex flex-col justify-center items-center">
      <h1 class="text-primary text-[6rem] max-lg:text-[5rem] max-md:text-[4rem] max-sm:text-[2.6rem] font-medium">DOTCOM</h1>
      <h2 class="text-primary text-[6rem] max-lg:text-[5rem] max-md:text-[4rem] max-sm:text-[2.6rem] font-medium">RESTAURANT</h2>
      <h2 class="text-white/80 text-[2rem] max-lg:text-[1.5rem] max-md:text-[1.2rem] max-sm:text-[1rem] w-full text-center px-3">{{ menuStore.sloganFirst[menuStore.language.code] }}</h2>
      <h3 class="text-white/80 text-[1.4rem] max-lg:text-[1.2rem] max-md:text-[1rem] max-sm:text-[1rem] w-full text-center px-3">{{ menuStore.sloganSecond[menuStore.language.code] }}</h3>
    </figcaption>
  </figure>
</template>

<script setup lang="ts">
import { useMenuStore } from "~/store/menu";

const menuStore = useMenuStore()
</script>

<style>
h1, h2, h3, h4 {
  font-family: "Halvar Breit Md";
}
</style>