<template>
  <section class="p-10 bg-black">
    <h2 class="w-full text-center text-[2rem] font-medium mb-10 text-primary">{{ menuStore.categories.menu[menuStore.language.code] }}</h2>
    <article class="mb-5 text-primary" v-for="article in menuStore.menu" :id="article.title[menuStore.language.code]">
      <h3 class="mb-5">{{ article.title[menuStore.language.code] }}</h3>
      <div class="grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-10 xl:grid-cols-4">
        <MenuItem
            v-for="item in article.items"
            :title="item.title[menuStore.language.code]"
            :img="item.img"
            :weight="item.weight"
            :price="item.price"
            :hot="item?.hot"
            :vegan="item?.vegan"
            :description="item?.description"
            :checkAvailability="item?.checkAvailability"
        />
      </div>
    </article>
  </section>
</template>

<script setup lang="ts">
import { useMenuStore } from "~/store/menu";

const menuStore = useMenuStore()

</script>

<style scoped>
h3 {
  font-size: 1.6rem;
}

h4, p {
  font-size: 1.2rem;
}

@media (max-width: 1024px){
  h4, p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px){
  h4, p {
    font-size: 1rem;
  }
}

@media (max-width: 640px){
  h4, p {
    font-size: 1rem;
  }
}
</style>