<template>
  <div ref="target">
    <TransitionGroup name="list">
      <div v-if="show">
        <div class="relative">
          <h4 class="absolute top-0 p-5 left-0 right-0 bg-primary/90 text-black font-bold">{{ title }}</h4>
          <img :src="img" alt="" class="bg-white/20" style="aspect-ratio: '320∶427'">
          <p class="absolute bottom-0 p-5 right-0 bg-black/70 text-primary">{{ weight }}g. {{ price }}€</p>
          <div v-if="hot || vegan" class="absolute bottom-0 left-0 bg-black/70 flex flex-row gap-2 items-center p-3">
            <img v-if="vegan" src="/icons/vegan.svg" class="w-10 h-10" alt="hot">
            <img v-if="hot" src="/icons/hot.svg" class="w-10 h-10" alt="hot">
          </div>
        </div>
        <div v-if="checkAvailability[menuStore.language.code]" class="text-white/80 px-5 pt-5 bg-primary/10">
          <span class="font-bold text-[20px] text-red-600">! </span>{{ checkAvailability[menuStore.language.code] }}
        </div>
        <div v-if="description[menuStore.language.code]" class="text-white/80 px-5 pb-5 pt-2 bg-primary/10">
          {{ description[menuStore.language.code] }}
        </div>
      </div>
    </TransitionGroup>
  </div>
</template>

<script setup>
import {useMenuStore} from "~/store/menu.js";
import { useElementVisibility } from '@vueuse/core'

defineProps({
  checkAvailability: {
    type: String,
    default: ''
  },
  img: {
    type: String,
    required: true
  },
  title: {
    type: String,
    required: true
  },
  description: {
    type: String,
    default: ''
  },
  price: {
    type: Number,
    required: true
  },
  weight: {
    type: [Number, String],
    required: true
  },
  hot: {
    type: Boolean,
    default: false
  },
  vegan: {
    type: Boolean,
    default: false
  }
})

const target = ref(null)
const targetIsVisible = useElementVisibility(target)

const show = ref(false)
const menuStore = useMenuStore()

watch(() => targetIsVisible.value, (val) => {
  if (val) {
    show.value = true
  }
})
</script>

<style scoped>
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
}
</style>