<template>
  <div
      class="w-[10rem] h-8 relative"
      :class="{
        'text-black': dark,
        'text-white': !dark,
      }"
  >
<!--    <img v-for="(lang, id) in languages"-->
<!--         :class="id === 0 ? 'z-30' : !expanded ? (id === 1 ? 'z-20' : 'z-10') : (id === 1 ? 'z-20 right-[9rem]' : 'z-10 right-[4.5rem]')"-->
<!--         :key="lang.code"-->
<!--         :src="lang.img"-->
<!--         class="transition-all duration-500 h-8 absolute top-0 right-0 cursor-pointer"-->
<!--         alt=""-->
<!--         @click="onClick(lang)">-->
<!--  </div>-->
    <div class="flex flex-row justify-between gap-5">
      <div
          v-for="(lang, id) in languages"
          :key="lang.code"
          @click="onClick(lang)"
          class="flex items-center justify-center transition-all duration-500 h-8 cursor-pointer w-[33px]"
          :class="{
            'bg-primary text-black': menuStore.language.code === lang.code && !dark,
            'bg-white text-black': menuStore.language.code === lang.code && dark,
            'bg-black/30': menuStore.language.code !== lang.code && !dark,
            'bg-white/30': menuStore.language.code !== lang.code && dark
          }"
          style="aspect-ratio: 33/19 !important;"
      >
        {{ lang.code }}
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  dark: {
    type: Boolean,
    default: false
  }
})

import {useMenuStore} from "~/store/menu";

const menuStore = useMenuStore()

const languages = ref([
  { img: '/img/flag_ru.svg', code: 'ru' },
  { img: '/img/flag_gb.svg', code: 'en' },
  { img: '/img/flag_me.svg', code: 'me' },
])

const onClick = (val) => {
  const id = languages.value.indexOf(val)

  menuStore.$patch(state => state.language = val)
}
</script>
