<template>
  <div v-html="svgTemplate"></div>
</template>

<script setup>
const props = defineProps({
  primaryColor: {
    type: String,
    default: 'black'
  },
  secondaryColor: {
    type: String,
    default: '#e7842b'
  }
})

const svgTemplate = computed(() => {
  return `<svg class="duration-500 transition-all" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253 253"><defs><style>.cls-1{fill:${props.primaryColor};}.cls-2{fill:${props.secondaryColor}}.cls-3{fill:${props.primaryColor};}.cls-4{fill:${props.primaryColor};}.cls-5{fill:#e58733;}.cls-6{fill:#e58530;}.cls-7{fill:#e48632;}</style></defs><path class="cls-1" d="M129.43,1.29h4.3a67.37,67.37,0,0,1,13.31,1l3.07.37c20.81,2.8,41.16,12.27,57.55,25.24l1.27,1a112.77,112.77,0,0,1,18.79,18.65l1,1.3A116.7,116.7,0,0,1,240.1,66.32l.44.81a120.07,120.07,0,0,1,13.79,56.62c0,1.21,0,2.42,0,3.63A95.51,95.51,0,0,1,252,148.89l-.27,1.2c-.71,3.1-1.56,6.16-2.48,9.21l-.38,1.28c-.92,3-.92,3-1.89,3.92.25-2.1.56-4.14,1-6.22a132,132,0,0,0,.72-46.28l-.16-1.09c-.3-1.93-.68-3.84-1.12-5.74L247.1,104c-3.47-15.13-9.38-30.17-18.52-42.83l-.67-.93a106.27,106.27,0,0,0-9.15-11.45l-1.39-1.63A88.19,88.19,0,0,0,205.53,36l-2.22-1.87c-18.25-14.9-41.54-23.92-64.8-26.73l-.9-.12a95.44,95.44,0,0,0-11.72-.39h-1.18c-18.4,0-37,2.89-53.45,11.54l-1.05.49-.86-.43c10.24-5.89,20.57-10.72,32-13.66l1.06-.28A102,102,0,0,1,129.43,1.29Z" transform="translate(-1.35 -1.29)"/><path class="cls-2" d="M135.52,106.45l1.09.54a22.47,22.47,0,0,1,10.59,12.77,21.49,21.49,0,0,1-1.52,16,24.89,24.89,0,0,1-9.73,9.58l-1,.59c-4.6,2.12-11.36,1.93-16.08.29a23.5,23.5,0,0,1-12.75-13.95,21.57,21.57,0,0,1,1-15.56,22.45,22.45,0,0,1,10.5-10.21l.83-.4A20.85,20.85,0,0,1,135.52,106.45Z" transform="translate(-1.35 -1.29)"/><path class="cls-3" d="M133,71a30.18,30.18,0,0,1,7.87.77l1.08.24c1,.22,2,.46,3,.69l1.25.3a52.24,52.24,0,0,1,9.42,4l1.28.63c11.9,6.18,20.89,17.49,25.06,30.17.54,1.81,1,3.64,1.41,5.49l.51,1.81a58.76,58.76,0,0,1-.94,27.21l-.23.85a55.75,55.75,0,0,1-13.85,23.91l-.95,1.05c-7.63,8.11-18.23,12.8-28.94,15.17l-1.33.36c-13.52,3.32-27.81-.13-39.54-7.21a59.47,59.47,0,0,1-26.33-36.28,52.09,52.09,0,0,1-.7-10.44v-1.56c0-1.26,0-2.52,0-3.78,1,1.58,1.08,2.95,1.23,4.78a53.16,53.16,0,0,0,12.86,29.37l.71.89c5.07,6.13,12.2,10.36,19.35,13.63l1.31.61a50.78,50.78,0,0,0,37.67.56A55.51,55.51,0,0,0,174.9,144c4.93-13.14,3.92-28.24-1.63-41C166.85,89.35,156.34,79,142,73.83a51.57,51.57,0,0,0-9-2.39Z" transform="translate(-1.35 -1.29)"/><path class="cls-3" d="M33.07,206.34a62.46,62.46,0,0,1,5,4.61A74,74,0,0,0,45,217l.8.63a137.31,137.31,0,0,0,20.55,13.45l.79.43a117.06,117.06,0,0,0,25.7,10.25l1.28.33c3.82,1,7.64,1.85,11.5,2.65l1.26.27c1.14.22,2.28.41,3.43.59l1.39.22a117.18,117.18,0,0,0,16.33.74h9.36a58.76,58.76,0,0,0,9.63-1l2.25-.31a103.85,103.85,0,0,0,14-2.68l1.09-.3a136.47,136.47,0,0,0,42.93-20.52,21,21,0,0,1,2.51-1.38,31,31,0,0,1-4.59,4.71c-.66.58-1.32,1.18-2,1.79a87.59,87.59,0,0,1-17.79,12.71l-1,.56a104.25,104.25,0,0,1-15.94,7.2c-.88.31-1.76.64-2.64,1a84.52,84.52,0,0,1-11.15,3.21l-1.53.35a108.52,108.52,0,0,1-23.84,2.35h-1.27a117.63,117.63,0,0,1-25.74-2.47l-2.77-.59a108.57,108.57,0,0,1-44.31-21l-1.17-.91c-3.16-2.54-6.14-5.27-9.08-8.05l-1-.92a76.7,76.7,0,0,1-6.29-7.19c-.42-.54-.85-1.07-1.28-1.6l-1.3-1.63-.64-.79C33.07,207.29,33.07,207.29,33.07,206.34Z" transform="translate(-1.35 -1.29)"/><path class="cls-4" d="M118.06,37.24h5.8a25.44,25.44,0,0,1,4,.48v.43l-.79.15C106,42.51,86.84,49.48,70.91,64.42,70,65.3,69,66.15,68,67c-1.2.9-1.2.9-1.62,1.89h-.86l-.34.76a10.85,10.85,0,0,1-1.9,2.47c-12.82,14.23-20.28,32.37-23.8,51-1.26-1.26-1-2.38-1-4.11v-2.75c.24-16.75,6.59-32.88,16.78-46.07l.56-.72A82,82,0,0,1,73.2,52.66l.71-.51a82.1,82.1,0,0,1,21.48-11l1.26-.47A61.85,61.85,0,0,1,118.06,37.24Z" transform="translate(-1.35 -1.29)"/><path class="cls-3" d="M43.31,157.24a27.61,27.61,0,0,1,3.23,5.47,82.9,82.9,0,0,0,16.33,22.16c.51.55.51.55.51,1.4l.75.33a9.3,9.3,0,0,1,2.53,2.15c11.62,11.87,28.29,19.76,44.1,24l1.56.42c2.67.66,5.36,1.11,8.07,1.55l1,.16a90.34,90.34,0,0,0,14,.94H137a74.12,74.12,0,0,0,11.33-.94l2.34-.26,1.5-.16c-.71,1.42-2.19,1.55-3.63,2.05a76.59,76.59,0,0,1-25.19,4.08h-1.11a65.69,65.69,0,0,1-18.75-2.48c-.86-.24-1.72-.48-2.59-.7a73.18,73.18,0,0,1-12.31-4.67c-.79-.38-1.58-.73-2.38-1.09a78.2,78.2,0,0,1-19-13l-1.18-1A52.69,52.69,0,0,1,60,191.39l-1.14-1.33C52.22,182.21,42.66,168.1,43.31,157.24Z" transform="translate(-1.35 -1.29)"/><path class="cls-5" d="M225.16,122.67c2.63,0,2.63,0,3.42,0,.73.73.48,1.67.48,2.67v4.32a60.48,60.48,0,0,1-.48,8l-3.42-.43-.37-1c-.37-1.15-.37-1.15-1.33-1.52-1.56-.17-3.12-.22-4.67-.29l-1.32-.08-1.26-.06-1.15-.06c-1.11,0-1.11,0-2.28.92a5.09,5.09,0,0,0-.13,1.89v1c.07,1.06.07,1.06,1,2.22a7.32,7.32,0,0,0,2,.5l1.2.22,1.25.21,1.25.23a25.83,25.83,0,0,0,4.54.55l.86-2.56,1.7.42.92.23.79.2a55.57,55.57,0,0,1-1.52,9.68l-.3,1.3c-.25,1-.49,2.07-.74,3.11a27.16,27.16,0,0,1-3.42-.86l-.24-1.22c-.46-1.39-.46-1.39-1.52-1.76s-2.23-.6-3.36-.86l-1.3-.51a16.18,16.18,0,0,0-5.1-.34,6.11,6.11,0,0,0-.91,3.73l0,1,0,.78.86.13a32.41,32.41,0,0,1,5.31,1.93,19.13,19.13,0,0,0,4.5,1.35l.42-2.13a7.19,7.19,0,0,1,3.42,1.28,32.79,32.79,0,0,1-1.6,5.63l-.34,1a49.16,49.16,0,0,1-3.18,7.06c-2.07-.76-2.07-.76-2.7-1.63a8.16,8.16,0,0,1-.29-3.07c-2.13-1.1-4.29-2.12-6.48-3.09L208.2,162a7.49,7.49,0,0,0-3.53-.5l-.85,1.71a7,7,0,0,1-3-1.28c.34-2.21.82-4.38,1.31-6.56l.24-1.08c.19-.87.39-1.74.59-2.61a7.83,7.83,0,0,1,3,.86l-.29-.89c-.8-2.63-1.44-5-.56-7.65a11.45,11.45,0,0,1,2.56-3.41,10.5,10.5,0,0,1,2.14-.43l-.66-1.08c-3-5.29-3-5.29-2.33-8.31a8.46,8.46,0,0,1,3.84-5.12,22.57,22.57,0,0,1,4.27-.14l1.2,0c3,.06,6,.23,9,.54Z" transform="translate(-1.35 -1.29)"/><path class="cls-4" d="M26.67,56.07l.85.43-.37.75a226.73,226.73,0,0,0-12,29.56l-.37,1.12a173.1,173.1,0,0,0-4.71,20.36c-.28,1.51-.59,3-.94,4.49-1.56,6.84-1.9,14-2.09,21l0,1q-.23,8.27-.4,16.51c-1.15-1.15-1.42-2.45-1.86-4l-.28-1a74.48,74.48,0,0,1-3.07-19.71v-1.19c0-.83,0-1.66,0-2.49l0-3.72a77.37,77.37,0,0,1,1.41-15.34l.39-2.1a89.54,89.54,0,0,1,22.36-44A4.05,4.05,0,0,0,26.67,56.07Z" transform="translate(-1.35 -1.29)"/><path class="cls-3" d="M169.67,46.26c8.67,1.83,16.89,6.55,23.48,12.38l1.26,1.09c7.81,6.85,12.92,15.07,17.09,24.52l.59,1.3a37.85,37.85,0,0,1,2.83,14.92,29.15,29.15,0,0,1-3.52-5.36A97.17,97.17,0,0,0,206,86.38l-.58-.83a194.1,194.1,0,0,0-17.1-21.46c-1-1.06-1.94-2.15-2.89-3.24a38.9,38.9,0,0,0-4.19-4c-.87-.77-1.67-1.57-2.48-2.4a70.5,70.5,0,0,0-6.48-5.6c-.87-.7-1.72-1.41-2.56-2.14Z" transform="translate(-1.35 -1.29)"/><path class="cls-6" d="M206.91,167.7c3,1.65,5.23,3.75,6.3,7.05.62,5.15-1.21,8.79-4.27,12.8-2.11,2.52-4.32,4.43-7.65,4.86-3.53.14-5.31-.54-8-2.83-3.21-3.71-3.94-7.05-3.67-11.86.39-3.55,3.07-6.66,5.64-8.95A10.75,10.75,0,0,1,206.91,167.7Zm-11.2,7.53a4.28,4.28,0,0,0-1.2,2.42c.75,2.94,3.5,4.7,6,6.27,1.61.91,2.77,1.51,4.64,1.07,1.73-1.15,2.42-1.85,2.83-3.89-.36-2.23-1.33-2.93-3-4.3C202.05,174.75,199,172.92,195.71,175.23Z" transform="translate(-1.35 -1.29)"/><path class="cls-7" d="M184.61,183.28a30.27,30.27,0,0,1,2,2.89l.56.82a14.07,14.07,0,0,1,1.23,2.27,5.58,5.58,0,0,1-2.13,3H185l-.56-.86c-.68-1-.68-1-2-1.06a3,3,0,0,0-2.32.88c-1,1.5-1,2.25-.69,4a11.08,11.08,0,0,0,5.12,5.55,4.21,4.21,0,0,0,3.41-.46,14.2,14.2,0,0,0,4.7-5.52,7.19,7.19,0,0,1,3.42,1.28,15.12,15.12,0,0,1-5.45,9.62c-3.71,2.43-7.16,3.5-11.63,2.76a10.65,10.65,0,0,1-5.93-6,12,12,0,0,1-.21-9.22C175,189.11,179.53,183.28,184.61,183.28Z" transform="translate(-1.35 -1.29)"/></svg>`
})
</script>