<template>
  <div class="relative">
    <Header @openSidebar="sidebarIsShown = true" />
    <Sidebar :shown="sidebarIsShown" @close="sidebarIsShown = false" />
    <div class="absolute top-0 left-0">
      <main>
        <slot />
      </main>
      <Footer id="footer" />
    </div>
  </div>
</template>

<script setup>
import Header from "~/components/layout/Header.vue";
import Footer from "~/components/layout/Footer.vue";
import Sidebar from "~/components/layout/Sidebar.vue";

const sidebarIsShown = ref(false)

watch(() => sidebarIsShown.value, (val) => {
  document.body.style.overflow = val ? 'hidden' : 'auto'
})
</script>