<template>
  <svg  @mouseenter="onMouse(true)" @mouseleave="onMouse(false)" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.63 274.72"><path :fill="color" d="M137-.86C61-.86-.82,60.76-.82,136.5S61,273.86,137,273.86,274.82,212.24,274.82,136.5,213-.86,137-.86ZM257.14,136.5c0,66-53.9,119.74-120.14,119.74S16.86,202.53,16.86,136.5,70.75,16.76,137,16.76,257.14,70.47,257.14,136.5Z" transform="translate(0.82 0.86)"/><path :fill="color" d="M73.17,82.82l52.12,56.57a16.09,16.09,0,0,0,23.43,0L199.93,83.8a5.58,5.58,0,0,1,1.45-1.09,18.26,18.26,0,0,0-7.08-1.42H79.7a18.21,18.21,0,0,0-6.8,1.3C73,82.67,73.08,82.73,73.17,82.82Z" transform="translate(0.82 0.86)"/><path :fill="color" d="M209.28,89.22a5.2,5.2,0,0,1-1,1.62l-51.22,55.58a27.55,27.55,0,0,1-40.11,0L64.82,89.86c-.1-.12-.18-.25-.27-.37A16.28,16.28,0,0,0,62,98.22v76.56c0,9.35,7.92,16.93,17.7,16.93H194.3c9.78,0,17.7-7.58,17.7-16.93V98.22A16.36,16.36,0,0,0,209.28,89.22Z" transform="translate(0.82 0.86)"/></svg>
</template>

<script setup>
const color = ref('white')

const onMouse = ((e) => {
  color.value = e ? '#FF7A00' : 'white'
})
</script>

<style>
svg path {
  transition: fill 0.5s;
}
</style>