<template>
  <svg @mouseenter="onMouse(true)" @mouseleave="onMouse(false)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 275.6 274.7" style="enable-background:new 0 0 275.6 274.7;" xml:space="preserve">
    <path :style="{ fill: color }" class="st0" d="M118.9,137v67.2c0,1,0.8,1.8,1.8,1.8h25c1,0,1.8-0.8,1.8-1.8V136h18.2c0.9,0,1.7-0.7,1.8-1.6l1.7-20.6
      c0.1-1-0.7-1.9-1.8-1.9h-19.9V97.3c0-3.4,2.8-6.2,6.2-6.2h14c1,0,1.8-0.8,1.8-1.8V68.8c0-1-0.8-1.8-1.8-1.8H144
      c-13.9,0-25.1,11.2-25.1,25v19.8h-12.5c-1,0-1.8,0.8-1.8,1.8v20.6c0,1,0.8,1.8,1.8,1.8h12.5V137z"/>
    <path :style="{ fill: color }" class="st1" d="M137-0.9C61-0.9-0.8,60.8-0.8,136.5c0,75.7,61.8,137.4,137.8,137.4c76,0,137.8-61.6,137.8-137.4
      C274.8,60.8,213-0.9,137-0.9z M257.1,136.5c0,66-53.9,119.7-120.1,119.7c-66.2,0-120.1-53.7-120.1-119.7
      c0-66,53.9-119.7,120.1-119.7C203.2,16.8,257.1,70.5,257.1,136.5z"/>
  </svg>
</template>

<script setup>
const color = ref('white')

const onMouse = ((e) => {
  color.value = e ? '#FF7A00' : 'white'
})
</script>

<style>
svg path {
  transition: fill 0.5s;
}
</style>
