<template>
  <svg @mouseenter="onMouse(true)" @mouseleave="onMouse(false)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 275.6 274.7" style="enable-background:new 0 0 275.6 274.7;" xml:space="preserve">
  <path :fill="color" class="st0" d="M137.8,0C61.8,0,0,61.6,0,137.4c0,75.7,61.8,137.4,137.8,137.4s137.8-61.6,137.8-137.4
	C275.6,61.6,213.8,0,137.8,0z M137.8,257.1c-66.2,0-120.1-53.7-120.1-119.7c0-66,53.9-119.7,120.1-119.7
	c66.2,0,120.1,53.7,120.1,119.7C258,203.4,204.1,257.1,137.8,257.1z"/>
    <path :fill="color" class="st0" d="M183.7,99.5c0,4.5-3.7,8.2-8.3,8.2c-4.6,0-8.3-3.7-8.3-8.2c0-4.5,3.7-8.2,8.3-8.2
	C180,91.2,183.7,94.9,183.7,99.5z M173.5,136.4c0,19.1-15.6,34.6-34.7,34.6c-19.1,0-34.7-15.5-34.7-34.6c0-19.1,15.6-34.6,34.7-34.6
	C157.9,101.8,173.5,117.3,173.5,136.4z M161,136.4c0-12.2-10-22.1-22.2-22.1c-12.2,0-22.2,9.9-22.2,22.1c0,12.2,10,22.1,22.2,22.1
	C151,158.5,161,148.6,161,136.4z M209,108.6c0-23.3-18.9-42.2-42.3-42.2H109c-23.4,0-42.3,18.9-42.3,42.2v57.5
	c0,23.3,18.9,42.2,42.3,42.2h57.7c23.4,0,42.3-18.9,42.3-42.2V108.6z M195.1,165.5c0,16-13,29-29.1,29h-56.4c-16,0-29.1-13-29.1-29
	v-56.3c0-16,13-29,29.1-29H166c16,0,29.1,13,29.1,29V165.5z"/>
</svg>

</template>

<script setup>
const color = ref('white')

const onMouse = ((e) => {
  color.value = e ? '#FF7A00' : 'white'
})
</script>

<style>
svg path {
  transition: fill 0.5s;
}
</style>