<template>
  <svg @mouseenter="onMouse(true)" @mouseleave="onMouse(false)" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.63 274.72"><path :fill="color" d="M137-.86C61-.86-.82,60.76-.82,136.5S61,273.86,137,273.86,274.82,212.24,274.82,136.5,213-.86,137-.86ZM257.14,136.5c0,66-53.9,119.74-120.14,119.74S16.86,202.53,16.86,136.5,70.75,16.76,137,16.76,257.14,70.47,257.14,136.5Z" transform="translate(0.82 0.86)"/><path :fill="color" d="M83,147.68,49,136.58s-4.06-1.65-2.76-5.4c.27-.77.81-1.43,2.43-2.57C56.22,123.35,188,75.83,188,75.83s3.71-1.26,5.92-.41a3.19,3.19,0,0,1,2.18,2.39,10.48,10.48,0,0,1,.29,3c0,.86-.12,1.67-.19,3-.8,13-24.81,110-24.81,110s-1.44,5.67-6.54,5.86a9.41,9.41,0,0,1-6.89-2.66c-10.09-8.77-45-32.27-52.72-37.45a1.46,1.46,0,0,1-.63-1.09c-.11-.55.48-1.22.48-1.22S165.8,103,167.45,97.31c.12-.45-.35-.67-1-.47-4,1.49-74,45.84-81.76,50.74A3.79,3.79,0,0,1,83,147.68Z" transform="translate(0.82 0.86)"/></svg>
</template>

<script setup>
const color = ref('white')

const onMouse = ((e) => {
  color.value = e ? '#FF7A00' : 'white'
})
</script>

<style>
svg path {
  transition: fill 0.5s;
}
</style>