<template>
  <div>
    <transition mode="out-in">
      <MainBanner id="main-banner" />
    </transition>

    <div class="text-white/90 flex flex-row items-center justify-center pt-5">
      <div class="flex flex-row gap-5 items-center">
        <a href="tel:+38268409821">
          <img class="w-14 h-14" src="/icons/phone.svg" alt="">
        </a>
        <p class="font-bold text-[1.5rem]"><span class="text-primary">{{ menuStore.booking[menuStore.language.code] }}:</span>
          <a href="tel:+38268409821"><span>+382 68 409 821</span></a>
        </p>
      </div>
    </div>

    <MenuSection id="menu-section" />
  </div>
</template>

<script setup>
import {useMenuStore} from "~/store/menu";

const menuStore = useMenuStore()

useHead({
  title: 'DotCom Restaurant',
  link: [
    {
      rel: 'apple-touch-icon',
      sizes: '180x180',
      href: '/apple-touch-icon.png'
    },
    {
      rel: 'mask-icon',
      href: '/safari-pinned-tab.svg',
      color: '#5bbad5'
    },
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '32x32',
      href: '/favicon-32x32.png'
    },
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '16x16',
      href: '/favicon-16x16.png'
    },
    {
      rel: 'manifest',
      href: '/site.webmanifest'
    }
  ],
  meta: [
    {
      name: "description",
      content: "DotCom Restaurant offers original fusion menu. Popular dishes of European and Asian cuisine"
    },
    {
      name: 'theme-color',
      content: '#ffffff'
    },
    {
      name: 'msapplication-TileColor',
      content: '#da532c'
    }
  ]
})
</script>